.message-wrapper {
    height: 100%;
}

.message-container {
    height: 80%;
}

.message-typer {
    height: 20%;
}

.opposite-user {
    background-color: rgba(0, 123, 255, 0.4);
    color: #fff;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: 15px;
    margin-right: 15px;
    border: solid 1px #007bff;
    -webkit-box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
}

.message-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.82);
    position: absolute;
    z-index: 1;
    text-align: center;
    padding-top: 200px;
}

.sub-heading {
    font-size: 20px;
    color: rgba(0, 123, 255);
}

.message-thread {
    overflow-y: scroll;
    list-style-type: none;
    height: 100%;
    min-height: 300px;
    width: 100%;
    border: solid 1px #BDBDBD;
    margin: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
}

.start-chatting-banner {
    padding: 25% 10%;
    text-align: center;
}

.message-thread li {
    clear: both;
    text-decoration: none;
    list-style-type: none;
    margin: 20px 10px 0px 20px;
    float: left;
    margin-right: 20px;
    padding: 25px 34px;
    min-width: 160px;
    min-height: 10px;
    max-width: 350px;
    border-radius: 5px;
    border: solid 1px #007bff;
    line-height: 1.4;
    word-wrap: break-word;
    color: #444444;
    text-align: left;
    background-color: rgba(0, 123, 255, 0.07);
}

.align-right {
    float: right !important;
    text-align: right;
}

.message-typer {
    padding-top: 20px;
}